html {
	--border-radius-primary: 8px;
	--border-radius-secondary: 11px;

	--padding-size-primary: 8px;
	--padding-size-secondary: 11px;
	--padding-size-tertiary: 24px;

	--dark-txt-col: white;
	--dark-txt-col-secondary: rgba(255, 255, 255, 0.66);
	--light-txt-col: black;
	--light-txt-col-secondary: rgba(0, 0, 0, 0.66);

	--background-color-primary: rgb(32, 34, 37);
	--background-color-secondary: rgb(20, 20, 26);
	--background-color-tertiary: rgb(39, 41, 44);

	--text-color-button: white;

	--border-color: rgb(59, 59, 59);

	--accent-color-primary: rgb(88, 94, 254);
	--accent-color-secondary: rgb(52, 58, 64);
	--accent-color-tertiary: rgb(46, 50, 94);

	--text-color-primary: rgba(255, 255, 255, 1);
	--text-color-secondary: rgba(255, 255, 255, 0.66);
	--text-color-tertiary: rgba(255, 255, 255, 0.4);
}

body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background-color: var(--background-color-primary);
}

.container {
	& > h1,
	h3 {
		color: var(--dark-txt-col);
		text-align: center;
	}
	h3 > a {
		color: var(--dark-txt-col-secondary);
	}
}
